-
  var
  brandName = 'Extrafast',
  logoDefault = 'logo-150x37',
  logoDefaultRetina = logoDefault,
  getTemplateLink = '//www.templatemonster.com/website-templates/monstroid2.html',
  codedBy = true,
  projectCategory = '#',
  singleProject = '#',
  singleService = '#',
  postLink = '#',
  postSlider = '#',
  postVideo = '#',
  blogPostLink = '#',
  postQuote = '#',
  postAudio = '#',
  postImage = '#',
  videoSrc = '//www.youtube.com/embed/-AhmuMqZB0s',
  seeFeaturesLink = 'features',
  teamMember = '#',
  menu = {
    "0": {
      index: 0,
      title: 'Home',
      link: '#home'
    },

    "about": {
      index: 1,
      title: 'About Us',
      link: '#about'
    },

    "portfolio": {
      index: 2,
      title: 'Portfolio',
      link: '#portfolio'
    },

    "our-team": {
      index: 3,
      title: 'Our team',
      link: '#our-team'
    },

    "news": {
      index: 4,
      title: 'News',
      link: '#news'
    },

    "pricing-charts": {
      index: 5,
      title: 'Pricing Charts',
      link: '#pricing-charts'
    },

    "testimonials": {
      index: 6,
      title: 'Testimonials',
      link: '#testimonials'
    },

    "clients": {
      index: 7,
      title: 'Clients',
      link: '#clients'
    },

    "contacts": {
      index: 8,
      title: 'Contacts',
      link: '#contacts'
    }
  },

  globals = {
    getTemplateLink: '#',
    address: '6036 Richmond hwy, Alexandria, VA USA 22303',
    soundcloud: '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>',
    video: '<iframe width="560" height="315" src="https://www.youtube.com/embed/1UWpbtUupQQ" allowfullscreen></iframe>'
  }
